<header>
    <h1>Fampets</h1>
    <ul>
        <% categories.forEach(category => { %>
            <a href="<%= category.href %>">
                <li><%= category.text %></li>
            </a>
        <% }) %>
        
    </ul>
</header>