* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1 {
    padding: 48px 96px 24px;
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 92px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 24px;
}

footer {
    padding: 48px;
    text-align: center;
}

